:root {

}

body {
  background-image: url(temp_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 23%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', 'Times New Roman', serif;
  color: white;
  text-shadow: 2px 2px black;
}

h1 {
  font-size: 4vw;
  padding: 0;
  margin: 0;
}

p {
  font-size: 3vw;
  font-family: 'Lora', 'Times New Roman', serif;
  color: white;
  text-shadow: 2px 2px black;
  padding: 0;
  margin: 0;
}

.Container {
  text-align: center;
}

.Mission h3 {
  display: inline-block;
  font-size: 1.5vw;
  width: 45vw;
  padding: 0;
  margin: 0;
}

img {
  width: 9vw;
  position: fixed;
  left: 78vw;
  padding: 3vw;
}
